@tailwind base;
@tailwind components;
@tailwind utilities;

._line-break-anywhere {
    line-break: anywhere;
}

.progress-bar {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(hotpink 75%, pink 0);
}

[contentEditable="true"]:empty:before {
    content: attr(placeholder);
    color: #6d8291;
}
